<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About</title>

  <!-- TailwindCSS CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-gray-900">
  <div class="max-w-screen-2xl container mx-auto px-4 md:px-20 my-20">
    <div>
      <h1 class="text-3xl font-bold mb-5">About</h1>
      <p>
       I'm Manik, a Full Stack Web Developer passionate about creating impactful and visually appealing software solutions.
      </p>
      <br />

      <h1 class="text-green-600 font-semibold text-xl">Education & Training</h1>
      <span>
        [Bachelor of computer application], [vidyasagar University], [2025] [BCA],
       
      </span>
      <br /><br />

      <h1 class="text-green-600 font-semibold text-xl">Skills </h1>
      <span>
      Skilled in programming, familiar with modern tools and technologies, good at design concepts, problem-solving, and teamwork.
      </span>
      <br /><br />

      

      

    
    </div>
  </div>
</body>
</html>

